.menu {
	width: calc(4 * 200px);
}

.menu-link {
	width: calc(1 * 200px);
	background: #056ef0;
	height: calc(1 * 200px)
}

:root {
					background-color: color-mod(#056ef0 alpha(2%));
				}

.menu-link:link,.menu-link:visited {
			background-color: #056ef0;
}

:root {
					background-color: color-mod(#056ef0 alpha(2%));
				}

.menu-link:-webkit-any-link {
			background-color: #056ef0;
}

:root {
					background-color: color-mod(#056ef0 alpha(2%));
				}

.menu-link:-moz-any-link {
			background-color: #056ef0;
}

:root {
					background-color: color-mod(#056ef0 alpha(2%));
				}

.menu-link:any-link {
			background-color: #056ef0;
}
