@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.parent {
	background: green;
  @at-root {
    .child {
			color: red;
  	}
	}
}

:--heading {
	--brand-red: color-mod(yellow blend(red 50%));
  @media (--viewport-medium) {
    margin-block: 0;
  }
}

.autoplacement-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
