{
	"rules": {
		"no-unused-expressions": [0],
		"no-underscore-dangle":  [0],
		"no-multi-spaces":       [0],
		"no-extra-parens":       [2],
		"no-unused-vars":        [2],
		"no-loop-func":          [0],
		"key-spacing":           [0],
		"strict":                [0],
		"quotes":                [2, "single", "avoid-escape"],
		"curly":                 [0]
	},
	"env": {
		"mocha": true,
		"node":  true
	}
}
