/* typography */

@font-face {
	font-family: monospace;
	font-style: normal;
	font-weight: 400;
	src: local("Menlo-Regular"), local("Monaco"), local("Consolas"), local("DejaVu Sans Mono"), local("DejaVu Sans Mono"), local(DejaVuSansMono);
}

@font-face {
	font-family: monospace;
	font-style: italic;
	font-weight: 400;
	src: local("Menlo-Regular"), local("Monaco"), local("Consolas Italic"), local(Consolas-Italic), local("DejaVu Sans Mono Oblique"), local(DejaVuSansMono-Oblique);
}

@font-face {
	font-family: monospace;
	font-style: normal;
	font-weight: 700;
	src: local("Menlo-Regular"), local("Monaco"), local("Consolas Bold"), local(Consolas-Bold), local("DejaVu Sans Mono Bold"), local(DejaVuSansMono-Bold);
}

@font-face {
	font-family: monospace;
	font-style: italic;
	font-weight: 700;
	src: local("Menlo-Regular"), local("Monaco"), local("Consolas Bold Italic"), local(Consolas-BoldItalic), local("DejaVu Sans Mono Bold Oblique"), local(DejaVuSansMono-BoldOblique);
}

/* animations */

@-webkit-keyframes blink {
	20% { background-color: rgba(255,255,255,1); }
	50% { background-color: rgba(255,255,255,0); }
	80% { background-color: rgba(255,255,255,1); }
}

@keyframes blink {
	20% { background-color: rgba(255,255,255,1); }
	50% { background-color: rgba(255,255,255,0); }
	80% { background-color: rgba(255,255,255,1); }
}

/* base */

html {
	overflow: hidden;
}

body {
	margin: 0;
}

/* pen styles */

.pen-block {
	background: #1d1f20;
	color: #ddca7e;
	position: fixed;
	width: 100%; height: 100%;
}

.pen-input,
.pen-caret,
.pen-style,
.pen-output {
	box-sizing: border-box;
	font: 100%/1.25 monospace, monospace;
	font-size: 100%;
	padding: 2em;
	position: absolute;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre;
}

.pen-caret,
.pen-style {
	overflow: hidden;
}

.pen-input,
.pen-output {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.pen-input {
	box-shadow: inset .125em 0 0 .5em rgba(255,255,255,0.05);
}

.pen-output {
	box-shadow: inset -.125em 0 0 .5em rgba(255,255,255,0.05);
}

@media screen and (max-width: 639px) {
	.pen-ouput {
		font-size: 75%;
	}

	.pen-input, .pen-caret, .pen-style {
		top: 0; right: 0; bottom: 50%; left: 0;
		width: 100%; height: 50%;
	}

	.pen-output {
		top: 50%; right: 0; bottom: 0; left: 0;
		width: 100%; height: 50%;
	}
}

@media screen and (min-width: 640px) {
	.pen-input, .pen-caret, .pen-style {
		top: 0; right: 50%; bottom: 0; left: 0;
		width: 50%; height: 100%;
	}

	.pen-output {
		top: 0; right: 0; bottom: 0; left: 50%;
		width: 50%; height: 100%;
	}
}

.pen-input,
.pen-caret {
	color: transparent;
}

.pen-input {
	-webkit-appearance: none;
	background: none;
	border: none;
	margin: 0;
	outline: none;
	resize: none;
	text-shadow: none;
}

.-ios .pen-input {
	left: -2px;
}

.pen-input::-moz-selection {
	background: rgba(179,212,252,.25);
	color: #FFF;
}

.pen-input::selection {
	background: rgba(179,212,252,.25);
	color: #FFF;
}

.pen-caret-symbol {
	display: inline-block;
	height: 1.25em; width: 1px;
	background-color: rgba(255,255,255,1);
	position: absolute;
}

.-ios .pen-caret-symbol {
	display: none;
}

.pen-caret-symbol:not(.is-active) {
	-webkit-animation: 1s .25s infinite blink;
	animation: 1s .25s infinite blink;
}

/* token styles */

.token {
	color: #FFF;
}

.token.selector {
	color: #a6dd3c;
}

.token.property {
	color: #56daef;
}

.token.function {
	color: #ddca7e;
}

.token.url {
	color: #a6dd3c;
}

.token.string {
	color: #dd0;
}

.token.variable {
	color: #ff9528;
}

.token.keyword {
	color: #ff3471;
}
